<section class="mx-auto mt-10 w-72">
    <div class="text-center">
        <h1 class="text-3xl font-bold text-black">Panda Restaurant</h1>
    </div>
    <div class="relative shadow rounded-xl px-2 mt-32 bg-panda-gradient">
        <div class="absolute rounded-full w-48 h-48 overflow-hidden -top-24 right-2/4 translate-x-2/4">
            <img src="themes/assets/imgs/drumstick.jpg" alt="Image Drumstick">
        </div>
        <div class="flex justify-center items-center flex-col gap-1 pt-28 pb-12">
            <h4 class="text-xl text-white">Great Taste</h4>
            <p class="text-base text-center text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis similique animi tempore fugiat deserunt, ducimus optio qui a possimus, eum ipsum laborum totam temporibus quibusdam veniam tenetur nobis, ex debitis.</p>
        </div>
        <button class="absolute -bottom-5 right-2/4 translate-x-2/4 bg-red-600 px-4 py-2 rounded-lg text-white w-48 hover:opacity-90 transition duration-300" (click)="getStarted()">Get Started</button>
    </div>
</section>